.logincontainer{
    height: 100vh;
    background: #a7e2e1;
}  
  .user_card {
    height: 400px;
    width: 390px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #a7e2e1;
    padding: 10px;
    text-align: center;

  }
  
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px 15px 15px 15px;
    // background:#fff;
    border: 2px solid white;
    box-shadow: 3px 3px 10px #000;
  }
  
  .form_container {
    margin-top: 90px;

    .head{
        font-weight: 700;
    }
  }
  
  .login_btn {
    width: 100%;
    border-radius: 20px;
    background: rgb(211, 0, 0) !important;
    color: white !important;
  
    &:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  
  .login_container {
    padding: 0 2rem;
  }
  
  .input-group-text {
    background: rgb(211, 0, 0) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  
  .input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #49c3be !important;
  }